<!DOCTYPE html>
<html>
  <head>
    <title>Superhero lab</title>
  </head>
  <body>
    <h1>Create a Team and Heros!</h1>
    <form action="/superhero" method="post">
      <label for="team[name]">Team Name: </label>
      <input type="text" name="team[name]">
      <label for="team[moto]">Team Name: </label>
      <input type="text" name="team[moto]">
      <h5>Hero 1</h5>
      <label for="team[hero][][name]">Hero Name: </label>
      <input type="text" name="team[hero][][name]">
      <label for="team[hero][][power]">Hero Power: </label>
      <input type="text" name="team[hero][][power]">
      <label for="team[hero][][biography]">Hero Biography: </label>
      <input type="text" name="team[hero][][biography]">
      
      <h5>Hero 2</h5>
      <label for="team[hero][][name]">Hero Name: </label>
      <input type="text" name="team[hero][][name]">
      <label for="team[hero][][power]">Hero Power: </label>
      <input type="text" name="team[hero][][power]">
      <label for="team[hero][][biography]">Hero Biography: </label>
      <input type="text" name="team[hero][][biography]">

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
