<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
<label>
	<p>Team Name: <input type="text" name="team[name]"></p>
	<p>Team Motto: <input type="text" name="team[motto]"></p>

	<h2>Hero 1</h2>
	<p>Hero's Name: <input id="member1_name" name="team[member][][name]"></p>
	<p>Hero's Power: <input id="member1_power" name="team[member][][power]"></p>
	<p>Hero's Biography: <input id="member1_bio" name="team[member][][bio]"></p>

	<h2>Hero 2</h2>
	<p>Hero's Name: <input id="member2_name" name="team[member][][name]"></p>
	<p>Hero's Power: <input id="member2_power" name="team[member][][power]"></p>
	<p>Hero's Biography: <input id="member2_bio" name="team[member][][bio]"></p>

	<h2>Hero 3</h2>
	<p>Hero's Name: <input id="member3_name" name="team[member][][name]"></p>
	<p>Hero's Power: <input id="member3_power" name="team[member][][power]"></p>
	<p>Hero's Biography: <input id="member3_bio" name="team[member][][bio]"></p>
</label>

<button type="submit">submit</button>
</form>

